<div class="container">
  <div class="post-detail">
    <div class="post-header">
      <div class="d-flex align-items-center">
        <div class="user-icon">
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="username">John Doe</div>
      </div>
      <div class="post-date">Posted on July 19, 2023</div>
    </div>
    <h1 class="post-title">Lorem Ipsum</h1>
    <div class="post-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget ullamcorper mi. Sed maximus elit elit.</p>
      <p>Nulla rhoncus enim nec ex efficitur, vel dapibus mi dapibus.</p>
    </div>
    <div class="post-comments">
      <div class="comment">
        <div class="d-flex align-items-center">
          <div class="user-icon">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="comment-username">Jane Smith</div>
        </div>
        <div class="comment-text">This is a great post! Thanks for sharing.</div>
      </div>
      <div class="comment">
        <div class="d-flex align-items-center">
          <div class="user-icon">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="comment-username">Mike Johnson</div>
        </div>
        <div class="comment-text">I found this information very helpful. Keep up the good work!</div>
      </div>
    </div>
    <div class="buttons-container">
      <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" class="tooltip-button edit">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" class="tooltip-button delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
