<div class="comment-card mt-3">
  <img
    src="../../../../assets/simpson_user.png"
    alt="User Avatar"
  />
  <div class="comment-details">
    <div class="d-flex justify-content-end">
      <small>{{comment?.creation_date | timestampToDate | date:'dd/MM/yyyy'}}</small>
    </div>
    <p class="w-75">
      {{comment?.comment}}
    </p>
    <div class="buttons">
      <button class="edit-btn" (click)="openEditModal()">
        <i class="bi bi-pencil-fill" ></i> Edit
      </button>
      <button class="delete-btn">
        <i class="bi bi-trash-fill"></i> Delete
      </button>
    </div>
  </div>
</div>
