<div class="comment-card mt-3">
  <img
    src="../../../../assets/simpson_user.png"
    alt="User Avatar"
  />
  <div class="comment-details">
    <div class="d-flex justify-content-between">
      <h4>John Doe</h4>
      <small>July 19, 2023</small>
    </div>
    <p class="w-75">
      Lorem ipsum dolor sit amet, consectetuseeur adipiscing elit.
      Vestibulum non rutrum magna. Sed aliquam iaculis ante ac
      tempus.
    </p>
    <div class="buttons">
      <button class="edit-btn">
        <i class="bi bi-pencil-fill"></i> Edit
      </button>
      <button class="delete-btn">
        <i class="bi bi-trash-fill"></i> Delete
      </button>
    </div>
  </div>
</div>
