<div class="container">
  <div class="add-button">
    <button
      (click)="openAddModal()"
      matTooltip="Add Category"
      matTooltipPosition="above"
      class="tooltip-button add"
    >
      <mat-icon>add</mat-icon>
      ADD NEW CATEGORY
    </button>
  </div>
  <div class="category-card mb-4" *ngFor="let category of categoryList">
    <div class="category-header">
      <h3 class="category-title">{{category.name}}</h3>
      <div class="category-actions">
        <button
          mat-icon-button
          matTooltip="Edit"
          matTooltipPosition="above"
          class="tooltip-button edit"
          (click)="openEditModal(category)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Delete"
          matTooltipPosition="above"
          class="tooltip-button delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="category-info">
      <p class="category-date">Created on {{category.creation_date | timestampToDate | date:'dd/MM/yyyy'}}</p>
    </div>
  </div>
</div>
