<div class="container">
  <div class="category-card">
    <div class="category-header">
      <h3 class="category-title">Category Name</h3>
      <div class="category-actions">
        <button
          mat-icon-button
          matTooltip="Edit"
          matTooltipPosition="above"
          class="tooltip-button edit"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Delete"
          matTooltipPosition="above"
          class="tooltip-button delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="category-info">
      <p class="category-date">Created on July 19, 2023</p>
    </div>
  </div>
</div>
