<div class="container mt-3">
  <div class="user-card">
    <div class="user-avatar">
      <img src="../../../../assets/simpson_user.png" alt="User Avatar">
    </div>
    <div class="user-details">
      <h3 class="user-name">John Doe</h3>
      <p class="user-email">john.doe@example.com</p>
      <div class="user-actions">
        <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" class="tooltip-button edit">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" class="tooltip-button delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
