<div class="d-flex flex-wrap gap-3 mt-3">
  <div class="blog-card w-25">
    <div class="blog-card-body">
      <h3 class="blog-card-title">Lorem Ipsum</h3>
      <p class="blog-card-username">by John Doe</p>
      <p class="blog-card-category">Category: Technology</p>
      <p class="blog-card-date">Posted on July 19, 2023</p>
      <div class="blog-card-buttons">
        <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" class="tooltip-button edit">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" class="tooltip-button delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
