<div class="container mt-3 post_page">
  <div class="container d-flex justify-content-between mb-2">
    <div class="">
      <h1 class="h-100 fw-bold d-flex align-items-end">asdasdasdasdasdasdasasd</h1>
    </div>
    <div class="d-flex justify-content-end align-items-end">
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>sort</mat-icon>Filter
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button
          [routerLink]="'/posts/'"
          [queryParams]="{ filter: 'popular' }"
          mat-menu-item
        >
          Popular
        </button>
        <button
          [routerLink]="'/posts/'"
          [queryParams]="{ filter: 'A_Z' }"
          mat-menu-item
        >
          A-Z
        </button>
        <button mat-menu-item [matMenuTriggerFor]="categoriesMenu">
          Categories
        </button>
      </mat-menu>

      <mat-menu #categoriesMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let category of categoryList"
          [routerLink]="'/posts/'"
          [queryParams]="{ categoryId: category.category_id }"
        >
          {{ category.name }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="container">
    <mat-divider></mat-divider>
  </div>
  <div class="container my-4">
    <div class="row">
      <ng-container *ngFor="let post of (hasQueryParams ? filteredItems : postList)">
          <div

            [routerLink]="'/posts/detail/' + post.post_id"
            class="row_card_list col-xl-3 col-lg-4 col-md-6 mb-4"
          >
            <app-blog-card [post]="post"></app-blog-card>
          </div>
      </ng-container>
    </div>
  </div>
</div>
